# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dir
Build/*
.vs/*
dependencies_x64/opencv/*
/singularity/.vs
/singularity/prj_Win/x64/Debug/singularity.tlog
/singularity/prj_Win/x64/Debug
