# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dir
concept_A/Build/*
concept_A/.vs/*
concept_A/dependencies_x64/*
concept_A/singularity/.vs

/concept_A/gui/x64/Debug/gui.tlog
/concept_A/gui/x64/Debug/qt
/concept_A/getterLib/x64/Debug
/concept_A/gui/x64/Debug
/concept_A/x64/Debug
/concept_A/MFgetterLib/x64/Debug
/concept_A/MediaFusionGCV/x64/Debug
/concept_A/GuiMediaFusion/x64/Debug

/concept_A/GuiMediaFusion/x64/Release/GuiMediaFusion.tlog
/concept_A/GuiMediaFusion/x64/Release/qt/moc
/concept_A/GuiMediaFusion/x64/Release/qt/qmake
/concept_A/GuiMediaFusion/x64/Release/qt/rcc
/concept_A/GuiMediaFusion/x64/Release/qt/uic
/concept_A/GuiMediaFusion/x64/Release/qt
