# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dir
concept_A/Build/*
concept_A/.vs/*
concept_A/dependencies_x64/*
concept_A/singularity/.vs

/concept_A/gui/x64/Debug/gui.tlog
/concept_A/gui/x64/Debug/qt
/concept_A/getterLib/x64/Debug
/concept_A/gui/x64/Debug
/concept_A/x64/Debug
/concept_A/MFgetterLib/x64/Debug
/concept_A/MediaFusionGCV/x64/Debug
/concept_A/GuiMediaFusion/x64/Debug

/concept_A/GuiMediaFusion/x64/Release/GuiMediaFusion.tlog
/concept_A/GuiMediaFusion/x64/Release/qt/moc
/concept_A/GuiMediaFusion/x64/Release/qt/qmake
/concept_A/GuiMediaFusion/x64/Release/qt/rcc
/concept_A/GuiMediaFusion/x64/Release/qt/uic
/concept_A/GuiMediaFusion/x64/Release/qt
concept_A/GuiMediaFusion/build/cmake_install.cmake
concept_A/GuiMediaFusion/build/CMakeCache.txt
concept_A/GuiMediaFusion/build/Makefile
concept_A/GuiMediaFusion/build/.qt/QtDeploySupport.cmake
concept_A/GuiMediaFusion/build/.qt/QtDeployTargets.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/cmake.check_cache
concept_A/GuiMediaFusion/build/CMakeFiles/CMakeConfigureLog.yaml
concept_A/GuiMediaFusion/build/CMakeFiles/CMakeDirectoryInformation.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/CMakeRuleHashes.txt
concept_A/GuiMediaFusion/build/CMakeFiles/Makefile.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/Makefile2
concept_A/GuiMediaFusion/build/CMakeFiles/progress.marks
concept_A/GuiMediaFusion/build/CMakeFiles/TargetDirectories.txt
concept_A/GuiMediaFusion/build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
concept_A/GuiMediaFusion/build/CMakeFiles/3.28.3/CMakeSystem.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/build.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/cmake_clean.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/compiler_depend.internal
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/compiler_depend.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/compiler_depend.ts
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/depend.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/DependInfo.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/flags.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/link.txt
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion.dir/progress.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/AutogenInfo.json
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/AutogenUsed.txt
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/build.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/cmake_clean.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/compiler_depend.internal
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/compiler_depend.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/compiler_depend.ts
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/DependInfo.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/ParseCache.txt
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen.dir/progress.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen_timestamp_deps.dir/build.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen_timestamp_deps.dir/cmake_clean.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen_timestamp_deps.dir/compiler_depend.make
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen_timestamp_deps.dir/compiler_depend.ts
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen_timestamp_deps.dir/DependInfo.cmake
concept_A/GuiMediaFusion/build/CMakeFiles/GUIMediaFusion_autogen_timestamp_deps.dir/progress.make
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/deps
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/moc_predefs.h
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/mocs_compilation.cpp
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/timestamp
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/EWIEGA46WW/moc_GuiMediaFusion.cpp
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/EWIEGA46WW/moc_GuiMediaFusionController.cpp
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/EWIEGA46WW/moc_GuiMediaFusionModel.cpp
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/include/ui_GuiMediaFusion.h
concept_A/GuiMediaFusion/build/GUIMediaFusion_autogen/include/ui_PreLaunchSettings.h
concept_A/MediaFusionGCV/Build/cmake_install.cmake
concept_A/MediaFusionGCV/Build/CMakeCache.txt
concept_A/MediaFusionGCV/Build/Makefile
concept_A/MediaFusionGCV/Build/CMakeFiles/cmake.check_cache
concept_A/MediaFusionGCV/Build/CMakeFiles/CMakeConfigureLog.yaml
concept_A/MediaFusionGCV/Build/CMakeFiles/CMakeDirectoryInformation.cmake
concept_A/MediaFusionGCV/Build/CMakeFiles/Makefile.cmake
concept_A/MediaFusionGCV/Build/CMakeFiles/Makefile2
concept_A/MediaFusionGCV/Build/CMakeFiles/progress.marks
concept_A/MediaFusionGCV/Build/CMakeFiles/TargetDirectories.txt
concept_A/MediaFusionGCV/Build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
concept_A/MediaFusionGCV/Build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
concept_A/MediaFusionGCV/Build/CMakeFiles/3.28.3/CMakeSystem.cmake
concept_A/MediaFusionGCV/Build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/build.make
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/cmake_clean.cmake
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/compiler_depend.internal
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/compiler_depend.make
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/compiler_depend.ts
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/depend.make
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/DependInfo.cmake
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/flags.make
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/link.txt
concept_A/MediaFusionGCV/Build/CMakeFiles/MediaFusionGCV_Lib.dir/progress.make
concept_A/x64_debug/GUIMediaFusion
